VITE_APP_NAME=MyRecipeBook
VITE_API_BASE_URL=http://localhost:5113
VITE_API_VERSION=v1
VITE_GOOGLE_LOGIN_ENABLED=false
VITE_GOOGLE_RETURN_URL=http://localhost:5173/auth/google/callback
VITE_AI_RECIPE_GENERATION_ENABLED=false
VITE_RECIPE_IMAGE_UPLOAD_ENABLED=true
